<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia Search Engine</title>

    <script type="text/javascript" src="../static/vue/vue.min.js"></script>
    <script type="text/javascript" src="../static/element/index.js"></script>
    <link rel="stylesheet" href="../static/element/index.css">

    <script type="text/javascript" src="../static/axios/axios.min.js"></script>
</head>

<body>
<div id="app">
    <img src="/static/img/index.jpg" style="width:100%;
		position: fixed; right: 0; bottom: 0;
		min-width: 100%; min-height: 100%;
		height: auto;
		z-index: -100;
		background-size: cover;
        pointer-events: none;

        -webkit-filter: brightness(15%);
        filter: brightness(15%);

">


    <div style="margin: 0 auto;font-size: 0;width: 585px;padding: 200px 0 0 0">
        <div style="font-size: 60px;font-weight:100;color: white">
            <center>
                <div><a>WIKIPEDIA SEARCH</a></div>
                <div><a>ENGINE</a></div>
            </center>
        </div>

        <div style="padding: 30px 0 0 0"></div>


        <el-tooltip class="item" effect="dark" placement="left">
            <input v-model="input_value" placeholder="Enter Your Query" type="text"
                   style="height: 50px;width: 400px;outline: none;vertical-align: top;border:none">
            <div style="width: 300px;" slot="content">
                Input Format
                <br>1. Query Format
                <br>(1) Word: No Quotation Mark, e.g. computer
                <br>(2) Phrase: Need Quotation Mark, e.g. "computer science"
                <br>2. Search Format
                <br>(1) Fuzzy Search: No Bracket, e.g. computer, "computer science"
                <br>(2) Exact Search: Need Brackets, e.g. [computer], ["computer science"]
                <br>(3) Proximity Search: [#15(Term1, Term2)], No Bracket means fuzzy search
                <br>(4) Boolean Search: e.g. [computer AND english], ["computer science" OR teacher], [[#20(Term1, Term2)] AND NOT "computer science"]
                <br>Boolean Search can be combined arbitrarily (word, phrase, proximity)
                <!--                Input Format<br>Boolean Search: Term 1 AND Term2<br>Proximity Search: #15(Term1, Term2)-->
            </div>
        </el-tooltip>

        <button id='search_button' v-on:click="input" type="button"
                style="background-color: #56b9f4;width: 180px;height: 52px;vertical-align: top;border-style:none;font-size: 18px;font-weight: 700">
            Search
        </button>


        <div v-if="infos">
            <div style="font-size: 15px;background-color: white;width: 404px">
                <div v-for="i in infos" style="margin: 0 2px 10px 10px;width: 400px;height: 20px;">
                    <a v-on:click="click_change([[ i['title'] ]])"
                       style="width: 400px ;text-decoration: none;color: black ">
                        [[ i['title'] ]] </a>

                </div>
                <div style="padding: 5px 0 0 0"></div>
            </div>
        </div>


    </div>

</div>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data() {
            return {
                input_value: '',
                infos: '',
            }
        },
        created(){
            var _self = this;
            document.onkeydown = function() {
                var key = window.event.keyCode;
                if (key === 13){
                    _self.input()
                }
            }
        },
        methods: {
            click_change(text) {

                this.input_value = text[0][0]
            },
            input() {
                window.location.href = '/search/' + this.input_value
            },

        },
        watch: {
            input_value() {
                if (this.input_value !== '') {
                    axios.post('/input_value', {'input_value': this.input_value})
                        .then(res => {
                            this.infos = res.data
                        })
                        .catch(err => {
                            console.log(err)
                            alert('Network transmission failed')
                        })
                } else {
                    this.infos = ''
                }
            }
        },
    })

</script>
</body>


</html>