<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>

    <script type="text/javascript" src="/static/vue/vue.min.js"></script>

    <script type="text/javascript" src="/static/axios/axios.min.js"></script>
    <script type="text/javascript" src="/static/element/index.js"></script>
    <link rel="stylesheet" href="/static/element/index.css">

</head>


<body style="padding:0;margin:0;border:0;">


<div id="app">


    <div>
        <div style="display: inline-block;vertical-align: top;padding: 30px 0 0 20px">
            <img src="/static/img/in.jpg" style="height: 100%">
        </div>


        <div style="display: inline-block;vertical-align: top;padding: 50px 0 0 100px;font-size: 0">

            <el-tooltip class="item" effect="light"
                        placement="left">
                <input v-model="input_value" placeholder="Enter Your Query" type="text" v-on:mousedown="mouse_down()" v-on:mouseleave="mouse_leave()"
                       style="height: 50px;width: 400px;outline: none;vertical-align: top;border:none;background-color: #f1f3f4">

                <div style="width: 300px;" slot="content">
                    Input Format
                    <br><br>1. Query Format
                    <br><br>(1) Word: No Quotation Mark, e.g. computer
                    <br><br>(2) Phrase: Need Quotation Mark, e.g. "travel to China"
                    <br><br>2. Search Format
                    <br><br>(1) Fuzzy Search: No Bracket, e.g. computer, "travel to China"
                    <br><br>(2) Exact Search: Need Brackets, e.g. [computer], ["travel"]
                    <br><br>&nbsp;&nbsp;(i) Proximity Search: [#15(Term1, Term2)], <br>&nbsp;&nbsp;No Bracket means fuzzy search
                    <br><br>&nbsp;&nbsp;(ii) Boolean Search: e.g. [computer AND english], <br>&nbsp;&nbsp;["computer science" OR teacher],
                    <br><br>&nbsp;&nbsp;[#20(Term1, Term2) AND NOT "computer science"], <br>&nbsp;&nbsp;No Bracket means fuzzy search
                    <br><br>&nbsp;&nbsp;Boolean Search can be combined with <br>&nbsp;&nbsp;word, phrase, proximity arbitrarily
                </div>
            </el-tooltip>
            <button v-on:click="input" type="button"
                    style="background-color: #56b9f4;width: 180px;height: 52px;vertical-align: top;border-style:none;font-size: 18px;font-weight: 700">
                Search
            </button>

            <div v-if="infos">
                <div style="font-size: 15px;background-color: #f1f3f4;width: 404px">
                    <div v-for="i in infos" style="margin: 0 2px 10px 10px;width: auto;height: auto;">
                        <a v-on:click="click_change([[ i['title'] ]])"
                           style="width: 400px ;text-decoration: none;color: black ">
                            [[ i['title'] ]] </a>

                    </div>
                    <div style="padding: 5px 0 0 0"></div>
                </div>
            </div>
        </div>

    </div>


    <div style="font-size: 0;width: 585px;padding: 20px 0 0 45px">


    </div>


    <div style="padding: 50px 50px 50px 100px">

        <div v-for="i in infos_list">

            <div>
                <a v-on:click="tiaozhuan([[ i['doc_id'] ]], [[ i['title'] ]])" href="javascript:void(0);" style="  text-decoration: none;color: #7b69a1;font-size: 25px" >
                    [[ i['title'] ]]
                </a>
                <div style="font-size:10px;width: 700px">[[ i['introduce'] ]]</div>
            </div>
            <br>

        </div>


    </div>


    <div style="padding: 20px 0 20px 50px;position:fixed;
				bottom:0;width: 100%">
        <el-pagination @current-change="handleCurrentChange"
                       background
                       :page-size="10"
                       layout="prev, pager, next"
                       :total="len_number">
        </el-pagination>
    </div>
</div>


<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        is_watch: false,
        data() {
            return {
                input_value: '',
                infos: '',
                total: 0,
                page: 0,


                // 量
                // infos
                infos_list: '',
                len_number: '',
                local_url:'',



            }
        },

        mounted() {

            var cur = window.document.location.href;
            var pathname = window.document.location.pathname;
            var pos = cur.indexOf(pathname);
            var localhostPath = cur.substring(0, pos);
            this.local_url = localhostPath

            console.log(this.local_url)



            var url = window.location.pathname
            var wiki = url.slice(8)
            var id = '1'


            axios.post('/search/' + wiki, {'id': id})
                .then(res => {

                    this.infos_list = res.data['infos_list']
                    this.len_number = res.data['len_number']
                    this.input_value = res.data['input_value']
                })
                .catch(err => {
                    console.log(err)
                    alert('Network transmission failed')
                })

        },
        created(){
            var _self = this;
            document.onkeydown = function() {
                var key = window.event.keyCode;
                if (key === 13){
                    _self.input()
                }
            }
        },

        methods: {
            tiaozhuan(doc_id, title){
                location.href=this.local_url +'/wiki/' + doc_id + "/" + title
            },
            click_change(text) {

                this.input_value = text[0][0]
            },
            mouse_down() {
                this.is_watch=true
            },
            mouse_leave() {
                this.is_watch=false
            },

            handleCurrentChange(id) {
                var url = window.location.pathname
                var wiki = url.slice(8)


                axios.post('/search/' + wiki, {'id': id})
                    .then(res => {
                        this.infos_list = res.data['infos_list']
                    })
                    .catch(err => {
                        console.log(err)
                        alert('Network transmission failed')
                    })


            },

            input() {
                var query_str = this.input_value.replace(/\#/g, "%23");
                window.location.href = '/search/' + query_str
            },
        },

        watch: {
            input_value() {
                if (this.is_watch){
                    if (this.input_value !== '') {
                    axios.post('/input_value', {'input_value': this.input_value})
                        .then(res => {
                            this.infos = res.data
                        })
                        .catch(err => {
                            console.log(err)
                            alert('Network transmission failed')
                        })
                    } else {
                        this.infos = ''
                    }
                }
            }
        },


    })
</script>
</body>

</html>